.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    margin-left: auto;
}

.filters button:hover {
    opacity: 90%;
}

.filters .locations,
.filters .amenities {
    height: 100%;
    width: 25%;
    padding-left: 30px
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 0px;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}


.filters .popover {
    background-color: #FAFAFA;
    display: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-left: -30px;
    list-style-type: none;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.filters h2 {
    margin: 0px;
    font-size: 16px;
}

.filters h2:nth-child(4) {
    margin-top: 20px;
}

.filters li {
    padding-left: 20px;
    cursor: pointer;
}
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
    display: block;
}
